/* this part adds an icon after external links, using FontAwesome*/
.markdown-body a[href^="http://"]:after,
.markdown-body a[href^="https://"]:after {
    content: "\f08e";
    /* content: "\f14c"; */
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
    font-size: 0.9em;
}
